h1 {
    position: absolute;
    top: 27px;
    left: 151px;
    width: 155px;
    height: 59px;

    font: normal normal bold 50px/59px .AppleSystemUIFont;
    letter-spacing: 0;
    color: #E63946;
    opacity: 1;
}

h2 {
    position: absolute;
    top: 367px;
    left: 627px;
    width: 666px;
    height: 151px;


    font: normal normal bold 150px/181px Josefin Sans;
    letter-spacing: 0;
    color: #1D3557;
    opacity: 1;
}

img {
    position: absolute;
    top: 18px;
    left: 15px;
    width: 136px;
    height: 76px;

    opacity: 1;
}